div {
  padding: 12px 0;
  border-bottom: 1px solid #efefef;
}

h2 {
  font-family: Montserrat;
  margin: 0;
}

form {

}

input, button {
    position: relative;
    width: 137px;
    height: 50px;
    left: 770px;
    top: 166px;
}

p {
  color: red;
}