<!--кнопка начало-->
{% load static %}
<!--<img scr="/map_img.png" alt="Рабочее место" usemap="#workmap">-->
<link href="{% static '/css.css' %}" rel="stylesheet">
<div style="position: absolute;
width: 289px;
height: 50px;
left: 531px;
top: 125px;

font-family: Montserrat;
font-weight:Light;">{{msg}}</div>

<div style="position: absolute;
left: 531px;
top: 130px;
color: #ff0000;
font-family: Montserrat;
font-weight:bold;">{{Error}}</div>
<div style="margin: center">

<div style="position: absolute;
width: 289px;
height: 50px;
left: 531px;
top: 390px;

font-family: Montserrat;
font-weight:bold;">Выбранный маршрут = {{ route }}</div>






 <div style="position: absolute;
width: 289px;
height: 50px;
left: 531px;
top: 390px;

font-family: Montserrat;
font-weight:bold;">Выбранный маршрут = {{ route }}</div>




<button type="submit"  style="
  position: absolute;
  width: 240px;
height: 50px;
left: 531px;
top: 166px;

font-family: Montserrat;
background: #8ADD49;
border: 2px solid #8ADD49;
border-radius: 18px;
font-weight:bold;">
      Начало
  </button>

<button type="submit" style="position: absolute;
width: 240px;
height: 50px;
left: 531px;
top: 241px;

font-family: Montserrat;
background: #DF5E5E;
border: 2px solid #DF5E5E;
border-radius: 18px;
font-weight:bold;">
        Конец
</button>


<!--блок под карту-->

<div class = "map" style = "background-image: url({% static '/img.png' %})">
    <form action="#" method="post" id="nodes">
        {% csrf_token %}
        <button name = 'city' value = '1' class = "btn" id = "city">but</button>
        <button name = 'city' value = '2' class = "btn" id = "city" style = 'position: absolute;
top: 50%;
left: 50%; transform: translateX(-50%) translateY(-50%);'>but</button>
        <button name = 'city' value = '3' class = "btn" id = "city" style = 'position: absolute;
width: 100px;
height: 50px;
top: calc(100/7*4%);
left: calc(100/7*6%);
transform: translateX(calc(100/7*4%)) translateY(calc(100/7*6%));'>but</button>

        </form>
</div>

<!--кнопка конеч-->
<form action="#" method="POST" >
   {% csrf_token %}
 <button type="submit"  style="position: absolute;
width: 369px;
height: 50px;
left: 531px;
top: 316px;

background: #FFFFFF;
border: 2px solid #000000;
box-sizing: border-box;
border-radius: 18px;
font-family: Montserrat;
font-weight:bold;">
        Отправить
    </button>
</form>

<form action="#" method="POST" >
   {% csrf_token %}
 <button type="submit" name="err" value='err' style="position: absolute;
width: 100px;
height: 125px;
left: 800px;
top: 166px;

background: #FFFFFF;
border: 2px solid #000000;
box-sizing: border-box;
border-radius: 18px;
font-family: Montserrat;
font-weight:bold;">
        Отмена
    </button>
</form>


