<!--кнопка начало-->
{% load static %}
<!--<img scr="/map_img.png" alt="Рабочее место" usemap="#workmap">-->
<link href="{% static '/css.css' %}" rel="stylesheet">

<div class="windows">
<div style=" position: absolute;

  width: 120vw;
height: 100vw;
left: 0px;
top: -22px;background: radial-gradient(73.38% 73.38% at 97.09% 5.29%, #FCFF5B 0%, rgba(255, 255, 255, 0) 100%), radial-gradient(47.76% 114.33% at 2.24% 89.88%, #FFE600 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(150.47deg, #84FF4A 12.85%, #66CC36 48.17%, rgba(28, 255, 91, 0.69) 91.02%);">

 <div style ="
position: absolute;


left: calc(190px + (980 — 190) * ((100vw — 500px) / (1920 — 720)));

top: calc(100vw/8);
font-family: Montserrat;
font-style: normal;
font-weight: 900;
font-size: 160px;
line-height: 327px;
color: #FFFFFF;
transform: rotate(-90deg);
z-index:2;
">TAXI</div>
<div style="position: absolute;
width: calc(540px + (950 - 250) * ((100vw - 500px) / (1920 - 500)));;

height: calc(340px + (530 - 340) * ((100vw - 500px) / (1920 - 500)));

left: calc(10px + (110 — 10) * ((100vw — 500px) / (1920 — 720)));
top: calc(100vw/12);

background: #FFFFFF;
box-shadow: 10px 10px 25px rgba(0, 0, 0, 0.09);
border-radius: 39px;

z-index:0;"></div>

<div style="position: absolute;
width: 289px;
height: 50px;

left: calc(190px + (538 — 190) * ((100vw — 500px) / (1920 — 720)));
top: 135px;

font-family: Montserrat;
font-weight:Light;">{{msg}}</div>

<div style="position: absolute;
left: 531px;
top: 130px;
color: #ff0000;
font-family: Montserrat;
font-weight:bold;">{{Error}}</div>
<div style="margin: center">

<div style="position: absolute;
width: 289px;
height: 50px;

left: calc(190px + (538 — 190) * ((100vw — 500px) / (1920 — 720)));
top: 390px;

font-family: Montserrat;
font-weight:bold;">Выбранный маршрут = {{ route }}</div>

<button type="submit"  style="
  position: absolute;
  width: calc(80px + (240 — 80) * ((100vw — 500px) / (1920 — 720)));
height: 50px;
left: calc(190px + (531 — 190) * ((100vw — 500px) / (1920 — 720)));
top: 166px;

font-family: Montserrat;
background: #8ADD49;
border: 2px solid #8ADD49;
border-radius: 18px;
font-weight:bold;">
      Начальная точка: {{beg}}
  </button>

<button type="submit" style="position: absolute;

  width: calc(80px + (240 — 80) * ((100vw — 500px) / (1920 — 720)));
height: 50px;
left: calc(190px + (531 — 190) * ((100vw — 500px) / (1920 — 720)));
top: 241px;

font-family: Montserrat;
background: #DF5E5E;
border: 2px solid #DF5E5E;
border-radius: 18px;
font-weight:bold;">
        Конечная точка: {{end}}
</button>


<!--блок под карту-->

<div class = "map" style = "background-image: url({% static '/12.png' %})">
    <form action="#" method="post" id="nodes">
        {% csrf_token %}
        <button class = "btn" name = 'city' value = '1'  style = "position: absolute; top: 21%; left: 50%; transform: translateX(-50%) translateY(-50%); color: white; font-size: 16px; " onclick="e => e.preventDefault()">1</button>
        <button class = "btn" name = 'city' value = '3'  style = "position: absolute; top: 50%; left: 50%; transform: translateX(-50%) translateY(-50%); color: white; font-size: 16px;" onclick="e => e.preventDefault()">3</button>
        <button class = "btn" name = 'city' value = '2' style = "position: absolute; top: 50%; left: 21%; transform: translateX(-50%) translateY(-50%); color: white; font-size: 16px;" onclick="e => e.preventDefault()">2</button>
    </form>
</div>

<!--кнопка конеч-->
<form action="#" method="POST" >
   {% csrf_token %}
 <button type="submit" class="butt"  style="position: absolute;

  width: calc(80px + (450 — 80) * ((100vw — 500px) / (1920 — 720)));
height: 50px;

left: calc(190px + (531 — 190) * ((100vw — 500px) / (1920 — 720)));
top: 316px;

background: #FFFFFF;
border: 2px solid #000000;
box-sizing: border-box;
border-radius: 18px;
font-family: Montserrat;
font-weight:bold;">
        Отправить
    </button>
</form>

<form action="#" method="POST">
   {% csrf_token %}
 <button type="submit" name="err" value='err' style="position: absolute;
width: calc(30px + (120 — 30) * ((100vw — 500px) / (1920 — 720)));
height: 125px;
left: calc(280px + (800 — 280) * ((100vw — 500px) / (1920 — 720)));
top: 166px;
background: #FFFFFF;
border: 2px solid {{color}};
box-sizing: border-box;
border-radius: 18px;
font-family: Montserrat;
color: {{color}};
font-weight:bold;"> {{back}} </button>
</form>
</div>
</div>
</div>
